/* Reset default styles */
* {
    background-color: #30D5C8;
    color: #9B108B;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

#exerciseTitle {
    margin-top: 200px;
}


/* Exercise section styles */
